#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    background-color: #00744a;
}

#login .title{
    color: #fff;
}

#login .form{
    background-color: #e6e6e6;
    width: 100%;
    max-width: 480px;
    padding: 4rem;
    border-radius: 00.5rem;
    height: 50%;
    text-align: center;
}

#login .field {
    padding-bottom: 0.5rem;
}

#login .field label {
    display: block;
}

.lbUsuario {
    margin-right: 32%;
}

.lbSenha {
    margin-right: 35%;
}

#login .field input {
    width: 50%;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
}

#login .actions button {
    width: 5rem;
    height: 2rem;
}
