.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6E6E6;
}

.main-screen {
    margin-top: 1%;
}

.cont-second {
    display: flex;
    padding: 5px 5px 0px 0px ;
    background-color: #6bbf79;
    height: 52px;
    width: 100%;
}

.cont-second  h2{
    margin-left: 2rem;
    margin-top: 5px;
}

.ToHome {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
}

.Home-button{
    transition: all 0.15s ease;
}

.Home-button:hover {
    width: 42px;
    height: 42px;
}

.animal-content {
    width: 75%;
    margin-top: 2%;
}

.animal-information {
    width: 50%;
    border: 5px solid #6bbf79;
    border-radius: 20px;
}

.animal-information h3 {
    margin-left: 10px;
}

.animal-content h2 {
    text-align: center;
}
